.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  max-width: 900px;
}
.card-img {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(183, 228, 226) 0%,
    rgb(153, 196, 176) 25.5%,
    rgb(245, 166, 158) 62.3%,
    rgb(192, 127, 154) 93.8%
  );
}


.detailed-btn {
  margin: 10px;
  background: d9f0f7;
  border-color: antiquewhite;
  font-size: 10px;
}

.lbl-color {
  color: #5c6268;
}

#input-city {
  background-color: white;
  margin: 10px auto;
  max-width: 30%;
}
.WeatherForecast-temperature-min {
  color: #5c6268;
  font-size: 14px;
}
.WeatherForecast-temperature-max {
  font-size: 14px;
}
.WeatherForecast-icon {
  max-width: 50px;
}

ul
{
    list-style-type: none;
}

.weather-unit {
position: relative;
top: -10px;

}