.city {
  font-size: 35px;
  color: #5c6268;
}

.detailed-btn {
  margin: 10px;
  background: d9f0f7;
  border-color: antiquewhite;
  font-size: 10px;
}

.btn2 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.temp-info {
  margin-top: 15px;
}

.temp strong {
  color: #5c6268;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}

.details {
  color: #5c6268;
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.units {
  position: relative;
  bottom: 27px;
  font-size: 12px;
}

span a {
  text-decoration: none;
}

.WeatherDetails {
  margin: 50px;
}
